#
# STM32 familly ADC drivers
#

config STM32_ADC
	tristate
	select REGULATOR
	select REGULATOR_FIXED_VOLTAGE
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	select IRQ_WORK
	help
	  Say yes here to build the driver for the STMicroelectronics
	  STM32 analog-to-digital converter (ADC).

	  This driver can also be built as a module.  If so, the module
	  will be called stm32-adc.

config STM32F4_ADC
	tristate "STMicroelectronics STM32F4 adc"
	depends on ARCH_STM32 || COMPILE_TEST
	depends on HAS_DMA
	depends on OF
	select STM32_ADC
	help
	  Say yes here to build support for STMicroelectronics stm32f4 Analog
	  to Digital Converter (ADC).

	  This driver can also be built as a module.  If so, the module
	  will be called stm32f4-adc.

config STM32_ADC_DEBUG
	bool "Enable debug for stm32 ADC drivers"
	depends on STM32_ADC
	help
	  Say "yes" to enable debug messages, on stm32 ADC drivers.
