/*
 * Copyright 2015 - Maxime Coquelin <mcoquelin.stm32@gmail.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public
 *     License along with this file; if not, write to the Free
 *     Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston,
 *     MA 02110-1301 USA
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "armv7-m.dtsi"
#include <dt-bindings/mfd/stm32f4-rcc.h>
#include <dt-bindings/pinctrl/pinctrl-stm32.h>

/ {
	aliases {
		gpio0 = &gpioa;
		gpio1 = &gpiob;
		gpio2 = &gpioc;
		gpio3 = &gpiod;
		gpio4 = &gpioe;
		gpio5 = &gpiof;
		gpio6 = &gpiog;
		gpio7 = &gpioh;
		gpio8 = &gpioi;
		gpio9 = &gpioj;
		gpio10 = &gpiok;
	};

	clocks {
		clk_hse: clk-hse {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <8000000>;
		};
	};

	pin-controller {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,stm32-pinctrl";
		ranges = <0 0x40020000 0x3000>;

		gpioa: gpio@40020000 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x0 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOA)>;
			st,bank-name = "GPIOA";
		};
		gpiob: gpio@40020400 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x400 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOB)>;
			st,bank-name = "GPIOB";
		};
		gpioc: gpio@40020800 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x800 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOC)>;
			st,bank-name = "GPIOC";
		};
		gpiod: gpio@40020C00 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0xC00 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOD)>;
			st,bank-name = "GPIOD";
		};
		gpioe: gpio@40021000 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x1000 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOE)>;
			st,bank-name = "GPIOE";
		};
		gpiof: gpio@40021400 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x1400 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOF)>;
			st,bank-name = "GPIOF";
		};
		gpiog: gpio@40021800 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x1800 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOG)>;
			st,bank-name = "GPIOG";
		};
		gpioh: gpio@40021C00 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x1C00 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOH)>;
			st,bank-name = "GPIOH";
		};
		gpioi: gpio@40022000 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x2000 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOI)>;
			st,bank-name = "GPIOI";
		};
		gpioj: gpio@40022400 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x2400 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOJ)>;
			st,bank-name = "GPIOJ";
		};
		gpiok: gpio@40022800 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x2800 0x400>;
			resets = <&rst STM32F4_AHB1_RESET(GPIOK)>;
			st,bank-name = "GPIOK";
		};

		usart1 {
			pinctrl_usart1: usart1-0 {
				st,pins {
					tx = <&gpiob 6 ALT7
						NO_PULL PUSH_PULL LOW_SPEED>;
					rx = <&gpioa 10 ALT7
						NO_PULL PUSH_PULL LOW_SPEED>;
				};
			};
		};

		usart7 {
			pinctrl_usart7: usart7-0 {
				st,pins {
					tx = <&gpiof 7 ALT8
						NO_PULL PUSH_PULL LOW_SPEED>;
					rx = <&gpiof 6 ALT8
						NO_PULL PUSH_PULL LOW_SPEED>;
				};
			};
		};

		mac {
			pinctrl_mac_mii: mac_mii {
				st,pins {
					rx_clk = <&gpioa 1 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					mdio = <&gpioa 2  ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					rx_dv = <&gpioa 7 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					pps_out = <&gpiob 5 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					txd3 = <&gpiob 8 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					mdc = <&gpioc 1 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					txd2 = <&gpioc 2 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					tx_clk = <&gpioc 3 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					rxd0 = <&gpioc 4 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					rxd1 = <&gpioc 5 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					tx_en = <&gpiog 11 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					txd0 = <&gpiog 13 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					txd1 = <&gpiog 14 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					crc = <&gpioh 2 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					col = <&gpioh 3 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					rxd2 = <&gpioh 6 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					rxd3 = <&gpioh 7 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					rx_er = <&gpioi 10 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
				};
			};

			pinctrl_mac_rmii: mac_rmii {
				st,pins {
					ref_clk = <&gpioa 1 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					mdio = <&gpioa 2 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					crs_dv = <&gpioa 7 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					mdc = <&gpioc 1 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					rxd0 = <&gpioc 4 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					rxd1 = <&gpioc 5 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					tx_en = <&gpiog 11 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					txd0 = <&gpiog 13 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
					txd1 = <&gpiog 14 ALT11
						NO_PULL PUSH_PULL HIGH_SPEED>;
				};
			};
		};

		usb_hs {
			pinctrl_usb_hs: usb_hs-0 {
				st,pins {
					clk = <&gpioa 5 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					stp = <&gpioc 0 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					nxt = <&gpioh 4 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					dir = <&gpioi 11 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;

					data0 = <&gpioa 3 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					data1 = <&gpiob 0 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					data2 = <&gpiob 1 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					data3 = <&gpiob 10 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					data4 = <&gpiob 11 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					data5 = <&gpiob 12 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					data6 = <&gpiob 13 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
					data7 = <&gpiob 5 ALT10
						NO_PULL PUSH_PULL HIGH_SPEED>;
				};
			};
		};

		ltdc {
			pinctrl_ltdc: ltdc-0 {
				st,pins {
					clk = <&gpiog 7 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					de = <&gpiof 10 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					hsync = <&gpioi 10 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					vsync = <&gpioi 9 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					b1 = <&gpiog 12 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					b2 = <&gpiog 10 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					b4 = <&gpioi 4 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					b5 = <&gpioi 5 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					b6 = <&gpioi 6 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					b7 = <&gpioi 7 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					g2 = <&gpioh 13 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					g3 = <&gpioh 14 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					g4 = <&gpioh 15 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					g5 = <&gpioi 0 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					g6 = <&gpioc 7 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					g7 = <&gpioi 2 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					r0 = <&gpioh 2 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					r1 = <&gpioh 3 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					r2 = <&gpioh 8 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					r3 = <&gpioh 9 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					r4 = <&gpioh 10 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					r5 = <&gpioh 11 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					r6 = <&gpioh 12 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
					r7 = <&gpiog 6 ALT14
						NO_PULL PUSH_PULL LOW_SPEED>;
				};
			};
		};
	};

	soc {
		timer2: timer@40000000 {
			compatible = "st,stm32-timer";
			reg = <0x40000000 0x400>;
			interrupts = <28>;
			clocks = <&rcc 0 128>;
			status = "disabled";
		};

		timer3: timer@40000400 {
			compatible = "st,stm32-timer";
			reg = <0x40000400 0x400>;
			interrupts = <29>;
			clocks = <&rcc 0 129>;
			status = "disabled";
		};

		timer4: timer@40000800 {
			compatible = "st,stm32-timer";
			reg = <0x40000800 0x400>;
			interrupts = <30>;
			clocks = <&rcc 0 130>;
			status = "disabled";
		};

		timer5: timer@40000c00 {
			compatible = "st,stm32-timer";
			reg = <0x40000c00 0x400>;
			interrupts = <50>;
			clocks = <&rcc 0 131>;
			status = "disabled";
		};

		timer6: timer@40001000 {
			compatible = "st,stm32-timer";
			reg = <0x40001000 0x400>;
			interrupts = <54>;
			clocks = <&rcc 0 132>;
			status = "disabled";
		};

		timer7: timer@40001400 {
			compatible = "st,stm32-timer";
			reg = <0x40001400 0x400>;
			interrupts = <55>;
			clocks = <&rcc 0 133>;
			status = "disabled";
		};

		usart2: serial@40004400 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40004400 0x400>;
			interrupts = <38>;
			clocks = <&rcc 0 145>;
			status = "disabled";
		};

		usart3: serial@40004800 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40004800 0x400>;
			interrupts = <39>;
			clocks = <&rcc 0 146>;
			status = "disabled";
		};

		usart4: serial@40004c00 {
			compatible = "st,stm32-uart";
			reg = <0x40004c00 0x400>;
			interrupts = <52>;
			clocks = <&rcc 0 147>;
			status = "disabled";
		};

		usart5: serial@40005000 {
			compatible = "st,stm32-uart";
			reg = <0x40005000 0x400>;
			interrupts = <53>;
			clocks = <&rcc 0 148>;
			status = "disabled";
		};

		usart7: serial@40007800 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40007800 0x400>;
			interrupts = <82>;
			dmas = <&dma1 3 5>, <&dma1 1 5>;
			dma-names = "rx", "tx";
			clocks = <&rcc 0 158>;
			status = "disabled";
		};

		usart8: serial@40007c00 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40007c00 0x400>;
			interrupts = <83>;
			clocks = <&rcc 0 159>;
			status = "disabled";
		};

		usart1: serial@40011000 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40011000 0x400>;
			interrupts = <37>;
			clocks = <&rcc 0 164>;
			dmas = <&dma2 5 4>, <&dma2 7 4>;
			dma-names = "rx", "tx";
			status = "disabled";
		};

		usart6: serial@40011400 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40011400 0x400>;
			interrupts = <71>;
			clocks = <&rcc 0 165>;
			status = "disabled";
		};

		syscfg: syscon@40013800 {
			compatible = "st,stm32-syscfg", "syscon";
			reg = <0x40013800 0x24>;
		};

		ltdc: ltdc@40016800 {
			display = <&display0>;
			compatible = "st,stm32f4-ltdc";
			reg = <0x40016800 0x400>;
			clocks = <&rcc 0 186>, <&rcc 0 182>;
			clock-names = "ltdc", "sai1";
			status = "disabled";

			display0: display {
				bits-per-pixel = <32>;
				display-timings {
					native-mode = <&timing0>;
					timing0: timing0 {
						clock-frequency = <9000000>;
						hactive = <480>;
						vactive = <272>;
						hback-porch = <2>;
						hfront-porch = <2>;
						vback-porch = <2>;
						vfront-porch = <2>;
						hsync-len = <41>;
						vsync-len = <10>;
						vsync-active = <1>;
					};
				};
			};
		};

		rst: reset@40023800 {
			#reset-cells = <1>;
			compatible = "st,stm32-rcc";
			reg = <0x40023800 0x400>;
		};

		rcc: rcc@40023810 {
			#clock-cells = <2>;
			compatible = "st,stm32f42xx-rcc";
			reg = <0x40023800 0x400>;
			clocks = <&clk_hse>;
		};

		dma1: dma@40026000 {
			compatible = "st,stm32f4-dma";
			#dma-cells = <2>;
			reg = <0x40026000 0x400>;
			interrupts = <11 12 13 14 15 16 17 47>;
			clocks = <&rcc 0 21>;
			status = "disabled";
		};

		dma2: dma@40026400 {
			compatible = "st,stm32f4-dma";
			#dma-cells = <2>;
			reg = <0x40026400 0x400>;
			interrupts = <56 57 58 59 60 68 69 70>;
			clocks = <&rcc 0 22>;
			status = "disabled";
		};

		mac: ethernet@40028000 {
			compatible = "stm,stm32-dwmac", "snps,dwmac-3.611",
				     "snps,dwmac";
			reg = <0x40028000 0x2000>;
			interrupts = <61>;
			interrupt-names = "macirq";
			clocks = <&rcc 0 25>, <&rcc 0 26>, <&rcc 0 27>;
			clock-names = "stmmaceth", "stm32_mac_tx",
				      "stm32_mac_rx";
			resets = <&rst STM32F4_AHB1_RESET(ETHMAC)>;
			reset-names = "stmmaceth";
			status = "disabled";
		};

		usb_hs: usb@40040000 {
			compatible = "st,stm32-otg-hs";
			reg = <0x40040000 0x40000>;
			interrupts = <77>;
			clocks = <&rcc 0 29>, <&rcc 0 30>;
			clock-names = "core_clk", "ulpi_clk";
			status = "disabled";
		};
	};
};

&systick {
	clocks = <&rcc 1 0>;
	status = "okay";
};
