/*
 * Copyright 2016
 * Yuri Tikhonov, Emcraft Systems, <yur@emcraft.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * publishhed by the Free Software Foundation.
 */

/dts-v1/;
#include "stm32f7-som.dts"

/ {
	chosen {
		bootargs = "console=ttyS0,115200";
		linux,stdout-path = &usart1;
	};

	nor_flash {
		status = "okay";

		flash_uboot_env@0x0 {
			label = "flash_uboot_env";
			reg = <0x00000 0x20000>;
		};

		flash_linux_image@0x20000 {
			label = "flash_linux_image";
			reg = <0x20000 0xa00000>;
		};

		flash_jffs2@0xa20000 {
			label = "flash_jffs2";
			reg = <0xa20000 0x5e0000>;
		};
	};
};

/*
 * Real time clock
 */
&rtc {
	status = "okay";
};

/*
 * Enable DMAs which are used for xfer with some peripheral
 */
&dma1 {
	status = "okay";
};
&dma2 {
	status = "okay";
};

/*
 * UART interfaces
 */
&usart1 {
	status = "okay";
	st,use-dma-rx;
	st,use-dma-tx;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usart1>;
};

&usart6 {
	status = "okay";
	st,use-dma-rx;
	st,use-dma-tx;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usart6>;
};

/*
 * Ethernet controller
 */
&mac {
	status = "okay";
	phy-mode = "rmii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mac_rmii>;
};

/*
 * USB interfaces.
 * Select the role of the appropriate interface by specifying
 * 'host'/'peripheral' value in 'dr_mode' property
 */
&usb_hs {
	status = "okay";
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_hs>;
	usb2-phy = <&usb_phy_hs>;
	g-gpio = <0x210000>;

	/*
	 * g-xxx properties are sizes in words.
	 * Overall FIFO size is 4024 bytes (1006 words).
	 * High-speed maximum packet sizes:
	 * - CTL (64), BLK (512), INT (1024), ISO (1024)
	 *
	 * High-speed ACM Serial gadget configuration:
	 * - CTL IN/OUT (64), BLK IN/OUT (512), INT IN (10)
	 * - so FIFO distribution may be optimized for ACM gadget:
	 *      g-rx-fifo-size = <512>;
	 *      g-np-tx-fifo-size = <64>;
	 *      g-tx-fifo-size = <52 378>;
	 *
	 * High-speed Mass-Storage gadget configuration:
	 * - CTL IN/OUT (64), BLK IN/OUT (512)
	 * - so FIFO distribution may be optimized for Mass-Storage gadget:
	 *      g-rx-fifo-size = <564>;
	 *      g-np-tx-fifo-size = <64>;
	 *      g-tx-fifo-size = <378>;
	 */
	g-rx-fifo-size = <512>;
	g-np-tx-fifo-size = <64>;
	g-tx-fifo-size = <52 378>;
};
&usb_fs {
	status = "disabled";
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_fs>;
	usb2-phy = <&usb_phy_fs>;
	g-gpio = <0x210000>;

	/*
	 * g-xxx properties are sizes in words.
	 * Overall FIFO size is 1280 bytes (320 words).
	 * Full-speed maximum packet sizes:
	 * - CTL (64), BLK (64), INT (64), ISO (1023)
	 *
	 * Full-speed ACM Serial gadget configuration:
	 * - CTL IN/OUT (64), BLK IN/OUT (64), INT IN (10)
	 * - so FIFO distribution may be optimized for ACM gadget:
	 *	g-rx-fifo-size = <160>;
	 *	g-np-tx-fifo-size = <64>;
	 *	g-tx-fifo-size = <32 64>;
	 *
	 * Full-speed Mass-Storage gadget configuration:
	 * - CTL IN/OUT (64), BLK IN/OUT (64)
	 * - so FIFO distribution may be optimized for Mass-Storage gadget:
	 *	g-rx-fifo-size = <160>;
	 *	g-np-tx-fifo-size = <64>;
	 *	g-tx-fifo-size = <96>;
	 */
	g-rx-fifo-size = <160>;
	g-np-tx-fifo-size = <64>;
	g-tx-fifo-size = <32 64>;
};

/*
 * I2C interfaces
 */
&i2c_1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,i2c-clk = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c_1>;

	touch_controller: crtouch@0 {
		status = "okay";
		compatible = "fsl,crtouch";
		pressure-event;
		reg = <0x49>;
	};
};

/*
 * LCD
 */
&ltdc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ltdc>;
};
